<!-- Footer Section -->
<footer class=" py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="photos\toffee-bakes-logo.png" alt="Bakery Logo" class="img-fluid mb-3">
                <!-- <div class="logo-container">
                    <img src="photos\toffee-bakes-logo.png" alt="Bakery Logo" class="img-fluid mb-3">
                    <p style="text-align: center; color: rgb(201, 150, 248);">Your favorite bakery for delicious and fresh treats!</p>
                </div> -->
            </div>

            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/home" class="">Home</a></li>
                    <li><a href="/about" class="">About Us</a></li>
                    <li><a href="/products" class="">Products</a></li>
                    <li><a href="/contact" class="">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h5>Contact Us</h5>
                <p><strong>Phone:</strong> +123 456 7890</p>
                <p><strong>Email:</strong> bakery&#64;example.com</p>
                <div class="d-flex justify-content-around">
                    <a href="https://www.facebook.com" target="_blank" class="mr-3">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com" target="_blank" class="mr-3">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.twitter.com" target="_blank" class="mr-3">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
                
            </div>

            <!-- Column 4: Our Story -->
            <div class="col-md-3">
                <h5>Our Story</h5>
                <p>At our bakery, we believe in baking the finest cakes, pastries, and treats with love and fresh ingredients. Every product is crafted to perfection to bring you joy in every bite. From cakes for special occasions to delicious everyday snacks, we are here to delight you!</p>
            </div>
        </div>
    </div>
</footer>
